<div class="container">
        <header>
            <form ng-submit="addTodo()">
                 <h2>List 3</h2>
                 <input type="text" ng-model="todoText" placeholder="Add Task" />
                 <button>Add</button>
            </form>
        </header>
        
        <section id="todo-list">
            <ul>
                <li ng-repeat="todo in todos track by $index" ng-show="todo !=undefined">
                    <span class="{'done':todo.done}">{{todo.text}}</span>
                    <button ng-click="clear($index)">Clear</button>
                </li>
            </ul>
        </section>
</div>